@model IEnumerable<RadioConexionLatam.Models.ProgramacionSemanal>
@{
    ViewBag.Title = "Programación Semanal - Radio Conexión LATAM";
    var horas = ViewBag.Horas as List<int>;
}

<div class="container mt-5">
    <h2 class="text-center header-title">Programación Semanal</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Horario</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miércoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
                <th scope="col">Sábado</th>
                <th scope="col">Domingo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hora in horas)
            {
                <tr>
                    <td class="anime-theme">@hora:00</td>
                    @foreach (var dia in new[] { "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo" })
                    {
                        var programa = Model.FirstOrDefault(p => p.Hora == hora.ToString() && p.Dia == dia);
                        <td class="anime-theme">
                            @if (programa != null)
                            {
                                <div><strong>@programa.NombrePrograma</strong></div>
                                <div class="program-info">
                                    <small>Encargado: @programa.Usuario.nombre @programa.Usuario.apellido</small>
                                    <small>Categoría: @programa.Categoria.nombre</small>
                                </div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center mt-4">
        <a href="@Url.Action("Crear", "Programacion")" class="btn btn-primary">Añadir Programa</a>
    </div>
</div>
